Django~=4.2.2
mysqlclient==2.0.1
python-dotenv==1.0.0
djangorestframework==3.14.0
django-cors-headers==4.3.1
requests~=2.31.0
boto3~=1.28.1
openai~=1.7.1
pillow~=10.2.0
rembg~=2.0.53
daphne~=4.0.0
channels~=4.0.0
channels-redis~=4.0.0
celery~=5.3.6
drf-yasg~=1.21.7
django-prometheus==2.3.1